@keyframes pulse-animation {
  0%, 100% {
    color: #1670A6; /* Updated to exact color #1670A6 */
  }
  50% {
    color: #808080; /* Gray color */
  }
}

.pulse-icon {
  animation: pulse-animation 1s infinite;
}
